[Desktop Entry]
Type=Application
Name=lf
Comment=Launches lf file manager in a terminal
Terminal=false
Exec=foot -e /home/mrcl/.dotfiles/bin/foot-lfcd %u
Icon=utilities-terminal
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
