#![enable(implicit_some)]
(
    text_color: "#e1e1db",
    background_color: "#313131",
    header_background_color: "#101010",
    modal_background_color: "#101010",
    borders_style: (fg: "#555555"),
    highlight_style: (fg: "#c8b875"),
    current_item_style: (fg: "#de7484", bg: "#555555"),
    active_pane_border_style: (fg: "#de7484"),
    tab_bar: (
        enabled: true,
        active_style: (fg: "#de7484", bg: "#101010"),
        inactive_style: (fg: "#d8cfd8", bg: "#313131"),
    ),
    progress_bar: (
        symbols: ["━", "━", "─"],
        track_style: (fg: "#101010"),
        elapsed_style: (fg: "#a8b89a"),
        thumb_style: (fg: "#de7484"),
    ),
    scrollbar: (
        symbols: ["|", "█", "|", "█"],
        track_style: (fg: "#101010"),
        ends_style: (fg: "#555555"),
        thumb_style: (fg: "#555555"),
    ),
)
